extends layout/base
block content
    section.content-header
        h1
            | Dashboard

    section.content
        .row
            .col-xs-4
                .info-box 
                    span.info-box-icon.bg-blue
                        i.fa.fa-users
                    .info-box-content
                        span.info-box-text Jumlah Penduduk
                        span.info-box-number 933

            .col-xs-4
                .info-box 
                    span.info-box-icon.bg-blue
                        i.fa.fa-user
                    .info-box-content
                        span.info-box-text Jumlah Kelahiran
                        span.info-box-number 933

            .col-xs-4
                .info-box 
                    span.info-box-icon.bg-blue
                        i.fa.fa-user-circle-o
                    .info-box-content
                        span.info-box-text Jumlah Kematian
                        span.info-box-number 933
                        