aside.main-sidebar
    section.sidebar
        ul.sidebar-menu
                li.treeview
                    a(href='#')
                        i.fa.fa-table
                        span Dashboard
                        
                li.treeview
                    a(href='#')
                        i.fa.fa-table
                        span Data Penduduk
                        
                li.treeview
                    a(href='#')
                        i.fa.fa-linkrendering
                        span Data Kelahiran
                        
                li.treeview
                    a(href='#')
                        i.fa.fa-table
                        span Data Kematian

                li.treeview
                    a(href='#')
                        i.fa.fa-table
                        span Data Kematian
                        