aside.main-sidebar
    section.sidebar
        ul.sidebar-menu
                li.treeview
                    a(href='/')
                        i.fa.fa-tachometer
                        span Dashboard
                        
                li.treeview
                    a(href='/penduduk')
                        i.fa.fa-users
                        span Data Penduduk
                        
                li.treeview
                    a(href='/kelahiran')
                        i.fa.fa-users
                        span Data Kelahiran
                        
                li.treeview
                    a(href='/kematian')
                        i.fa.fa-users
                        span Data Kematian
                        